<h3>Phone numbers:</h3>

#foreach($phonenumber in $phonelist)
 <h3>$phonelist.getPhoneList()</a></h3>
#end

<a href="/contacts/$contact.getId()/tasks/new">Add a new phone</a>
<a href="/">Return to Main Page</a>